@using E_Learning.PL.ViewModels
@model IEnumerable<CategoryVM>
@{
    ViewData["Title"] = "GetCategories";
}

<div class="container-fluid bg-primary py-5 mb-5 page-header">
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-lg-10 text-center">
                <h1 class="display-3 text-white animated slideInDown">Categories</h1>
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-center">
                        <li class="breadcrumb-item">
                            <a asp-controller="Home" asp-action="Index" asp-route-area="" >Home</a>
                        </li>
                        <li class="breadcrumb-item text-white active" aria-current="page">Categories</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5 category">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h6 class="section-title bg-white text-center text-primary px-3">Categories</h6>
            <h1 class="mb-5">Courses Categories</h1>
        </div>
        <div class="col-lg-7 col-md-6 m-auto">
                      @foreach (var item in Model)
            {
                    <div class="col-lg-9 col-md-4 wow zoomIn" data-wow-delay="0.1s">
                        <a class="position-relative d-flex" href="">
                                <img class="img-fluid" src="~/files/images/@item.ImageName" alt="">
                            <div class="bg-white text-center position-absolute bottom-0 end-0 py-2 px-3" style="margin: 1px;">
                                <h5 class="m-0">@item.Name</h5>
                                <small class="text-primary">@item.NumOfCourses Courses</small>
                            </div>
                        </a>
                    </div>
            }
            
        </div>
    </div>
</div>


