@model ServiceFormVM


@section Header {
Services
}

<div class="col-md-9">

<div class="card card-primary">
<div class="card-header">
<h3 class="card-title">Create Service</h3>
</div>


<form asp-controller="Services" asp-action="Create">
<div class="card-body">
<div class="form-group">
<label asp-for="Name">Service Name</label>
<input asp-for="Name" class="form-control" placeholder="Enter Service Name">
</div>
              <div class="form-group">
                    <label asp-for="Description">Service Description</label>
                    <input asp-for="Description" class="form-control" placeholder="Enter Service Description">
                </div>

</div>

<div class="card-footer">
<button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
</div>
</div>