@model TeacherFormVM


@section Header {
Edit Teachers ...
}

<div class="col-md-9  m-auto w-50">

    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">Edit Teacher</h3>
        </div>


        <form asp-controller="Teachers" asp-action="Edit" asp-route-id="@Model.Id" enctype="multipart/form-data">
            <div class="card-body">
                <div class="form-group">
                    <label asp-for="Name">Teacher Name</label>
                    <input asp-for="Name" class="form-control" placeholder="Enter Teacher Name">
                </div>
                <div class="form-group">
                    <label asp-for="Field">Teacher Field</label>
                    <input asp-for="Field" class="form-control" placeholder="Enter Teacher Field">
                </div>
                <div class="form-group">
                    <label asp-for="Phone">Teacher Phone</label>
                    <input asp-for="Phone" class="form-control" placeholder="Enter Teacher Phone">
                </div>
                <div class="form-group">
                    <label asp-for="Email">Teacher Email</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter Teacher Email">
                </div>
                 <div class="form-group">
                     <label asp-for="StillWorked"></label>
                     <input asp-for="StillWorked">
                     <span>@(Model.StillWorked ? " Yes" : "No")</span>
                 </div>

                <div class="form-group">
                    <label asp-for="Image"></label>
                    <input asp-for="Image" class="form-control-file imageInput">
                </div>
                <div class="form-group">
                    <img src="#" id="imagePreview" style="display:none;width:200px" />
                </div>


            </div>

            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
@section script {
    <script>
        document.querySelector(".imageInput").addEventListener("change", (event) => {
            const file = event.target.files[0];
            const imagePreview = document.querySelector("#imagePreview");
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    console.log("hhhhhh");
                    imagePreview.src = e.target.result;
                    imagePreview.style.display = "block";
                }
                reader.readAsDataURL(file);
            }
        })
    </script>
}