@model ForgetPasswordVM
@{
    ViewData["Title"] = "ForgetPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<link href="~/homePage/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/styleSimple.css">



<!-- Sing in  Form -->
<section class="sign-in w-50 m-auto">
    <div class="container">
        <a class="text-decoration-underline" asp-controller="Account" asp-action="Login"> <figure><img src="~/imageAccount/arrow.svg" alt="sing up image" class="arrow"> </figure></a>

        <div class="signin-content display-flex justify-content-center">
             @* <div class="signin-image flex-column d-flex align-items-center justify-content-center">
                 <figure><img class="w-50" src="~/imageAccount/Forget.jpg" alt="sing up image"></figure>
                 <a class="text-decoration-underline" asp-controller="Account" asp-action="Login">Go Back?</a>
             </div> *@

            <div class="signin-form">
                <h2 class="form-title text-center">Forget Password</h2>
                <div class="form-group">
                    <figure><img class="w-50" src="~/imageAccount/ForgetPassword.jpg" alt="sing up image"></figure>

                </div>
                <form method="POST" class="register-form" id="login-form" asp-action="SendResetPasswordURL" asp-controller="Account">
                    <div class="form-group">
                        <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input asp-for="Email" placeholder="Your Email" required/>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                   

                    <div class="form-group form-button d-flex justify-content-between align-items-center">
                        <input type="submit" name="signin" id="signin" class="form-submit" value="Continue" />
                        <a class="text-decoration-underline mt-3" asp-controller="Home" asp-action="Index"> <figure><img src="~/imageAccount/home.png" alt="sing up image" class="home"> </figure></a>

                    </div>
@*                      <a class="text-decoration-underline ms-auto" asp-controller="Account" asp-action="Login">Go Back?</a>
 *@

                </form>
            </div>
        </div>
    </div>
</section>


