@{
    ViewData["Title"] = "SendUrlPassword";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<link href="~/homePage/css/bootstrap.min.css" rel="stylesheet">


<!-- Sing in  Form -->
<section class="sign-in w-50 m-auto">
    <div class="container">
        <div class="signin-content display-flex justify-content-center">
            @* <div class="signin-image flex-column d-flex align-items-center justify-content-center">
            <figure><img class="w-50" src="~/imageAccount/Forget.jpg" alt="sing up image"></figure>
            <a class="text-decoration-underline" asp-controller="Account" asp-action="Login">Go Back?</a>
            </div> *@

            <div class="signin-form">
                <h2 class="form-title text-center">Check Email </h2>
                <div class="form-group">
                    <figure><img class="w-50" src="~/imageAccount/reset.png" alt="sing up image"></figure>

                </div>
                <form>
                    <h2 class="w-100">Check Your <span class="text-danger">Email</span> To Continue!</h2>
@* 
                     <div class="form-group form-button">
                         <input type="submit" name="signin" id="signin" class="form-submit" value="Log in" />
                     </div> *@
                    <a class="text-decoration-underline ms-auto" asp-controller="Account" asp-action="Login">Go Back?</a>
                    <a class="text-decoration-underline ms-auto" asp-controller="Home" asp-action="Index">Home?</a>


                </form>
            </div>
        </div>
    </div>
</section>


